@{
    ViewData["Title"] = "Employee Data";
    var pageLength = Model.DataTableSettings.PageLength;
}

<div class="container mt-4">
    <div class="row mb-3">
        <div id="divMessages"></div>
    </div>
    <div class="row mb-3">
        <div class="col-md-11">
            <label for="statusFilter">Employee Data</label>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary" onclick="openEmployeeModalCreateEdit()">Add</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="statusFilter">Filter by Status:</label>
            <select id="employeeStatusFilter" class="form-control">
                <option value="">All</option>
                @foreach (var employeeStatus in Model.EmployeeStatusDataResponse.EmployeeStatusList)
                {
                    <option value="@employeeStatus.Id">@employeeStatus.Name</option>
                }
            </select>
        </div>
        <div class="col-md-6">
            <label for="departmentFilter">Filter by Department:</label>
            <select id="departmentFilter" class="form-control">
                <option value="">All</option>
                @foreach (var department in Model.DepartmentDataResponse.DepartmentDataList)
                {
                    <option value="@department.Id">@department.Name</option>
                }
            </select>
        </div>
    </div>
    <table id="tblEmployeeData" class="table table-striped table-bordered" style="width:100%">
        <thead class="thead-light">
            <tr>
                <th class="text-left"></th>
                <th class="text-left">First Name</th>
                <th class="text-left">Last Name</th>
                <th class="text-left">Date of Birth</th>
                <th class="text-left">Department Name</th>
                <th class="text-left">Status</th>
                <th class="text-left">Employee Number</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeModalLabel"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    Are you sure you want to delete this employee?
                </div>
                <div class="mb-3">
                    <label for="FirstName" class="form-label">First Name:</label>
                    <input type="text" class="form-control" id="txtDeleteFirstName" name="FirstName" />
                </div>
                <div class="mb-3">
                    <label for="LastName" class="form-label">Last Name:</label>
                    <input type="text" class="form-control" id="txtDeleteLastName" name="LastName" />
                </div>
                <div class="mb-3">
                    <label for="EmployeeNumber" class="form-label">Employee Number:</label>
                    <input type="text" class="form-control" id="txtDeleteEmployeeNumber" name="EmployeeNumber" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            GetFilteredData();
        });

        $('#employeeStatusFilter').change(function () {
            GetFilteredData();
        });

        $('#departmentFilter').change(function () {
            GetFilteredData();
        });

        function GetFilteredData() {
            $.ajax({
                url: '@Url.Action("GetFilteredData", "EmployeeData")',
                type: 'POST',
                data: {
                    employeeStatusId: $("#employeeStatusFilter option:selected").val(),
                    departmentId: $("#departmentFilter option:selected").val()
                },
                dataType: "json",
                success: function (response) {
                    BindGridData(response);
                }
            });
        }
        
        function BindGridData(filteredData) {
            $('#tblEmployeeData').DataTable().clear().destroy();
            $('#tblEmployeeData').DataTable({
                responsive: true,
                bLengthChange: true,
                lengthMenu: [[5, 10, 25, 50, 75, 100, -1], [5, 10, 25, 50, 75, 100, "All"]],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                pageLength: @pageLength,
                data: filteredData,
                columns: [
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            return '<a href="#" class="btn btn-primary" onclick="openEmployeeModalCreateEdit(' + data + ')">Edit</a>' +
                                   ' <a href="#" class="btn btn-danger" onclick="openDeleteModal(' + data + ', \'' + row.firstName + '\', \'' + row.lastName + '\', \'' + row.employeeNumber + '\')">Delete</a>';
                        },
                        width: "150px"
                    },
                    { data: 'firstName' },
                    { data: 'lastName' },
                    {
                        data: 'dateOfBirth',
                        render: function (data, type, row) {
                            var date = new Date(data);
                            var day = ("0" + date.getDate()).slice(-2);
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var year = date.getFullYear();
                            return day + "/" + month + "/" + year;
                        }
                    },
                    { data: 'department.name' },
                    { data: 'employeeStatus.name' },
                    { data: 'employeeNumber' }
                ]
            });
        }

        function openEmployeeModalCreateEdit(employeeId) {
            if(employeeId == null)
            {
               $.ajax({
                    url: '@Url.Action("CreatEmployeeData", "EmployeeData")',
                    type: 'POST',
                    dataType: "HTML",
                    success: function (response) {
                        $('#employeeModalLabel').text('Create Employee');
                        $('#employeeModal .modal-body').html(response);
                        $('#employeeModal').modal('show');
                    }
                });
            }
            else
            {
               $.ajax({
                    url: '@Url.Action("EditEmployeeData", "EmployeeData")',
                    type: 'POST',
                    data: {
                        employeeId: employeeId
                    },
                    dataType: "HTML",
                    success: function (response) {
                        $('#employeeModalLabel').text('Edit Employee');
                        $('#employeeModal .modal-body').html(response);
                        $('#employeeModal').modal('show');
                    }
                });
            }
        }

        function openDeleteModal(employeeId, firstName, lastName, employeeNumber) {
            $('#txtDeleteFirstName').val(firstName);
            $('#txtDeleteLastName').val(lastName);
            $('#txtDeleteEmployeeNumber').val(employeeNumber);
            $('#deleteModal').modal('show');
            $('#confirmDelete').off('click').on('click', function () {
                deleteEmployee(employeeId);
                $('#deleteModal').modal('hide');
            });
        }

        function deleteEmployee(employeeId) {
            $.ajax({
                url: '@Url.Action("DeleteEmployeeData", "EmployeeData")',
                type: 'POST',
                data: {
                    employeeId: employeeId
                },
                dataType: "json",
                success: function (response) {
                    if (response.isSuccess == true) {
                        var alertDiv = $('<div class="alert alert-success fade show" role="alert">')
                            .text('Employee has successfully been deleted')
                        $('#divMessages').html(alertDiv);
                        GetFilteredData();
                    }
                    else {
                        var alertDiv = $('<div class="alert alert-danger fade show" role="alert">')
                            .text('Error deleting employee data: ' + response.message)
                        $('#divMessages').html(alertDiv);
                    }
                }
            });
        }
    </script>
}