@{
    ViewData["Title"] = "Employee Data";
}

<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-md-12">
            <label for="statusFilter">Employee Data</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="statusFilter">Filter by Status:</label>
            <select id="employeeStatusFilter" class="form-control">
                <option value="">All</option>
                @foreach (var employeeStatus in Model.EmployeeStatusDataResponse.EmployeeStatusList)
                {
                    <option value="@employeeStatus.Id">@employeeStatus.Name</option>
                }
            </select>
        </div>
        <div class="col-md-6">
            <label for="departmentFilter">Filter by Department:</label>
            <select id="departmentFilter" class="form-control">
                <option value="">All</option>
                @foreach (var department in Model.DepartmentDataResponse.DepartmentDataList)
                {
                    <option value="@department.Id">@department.Name</option>
                }
            </select>
        </div>
    </div>
    <table id="tblEmployeeData" class="table table-striped table-bordered" style="width:100%">
        <thead class="thead-light">
            <tr>
                <th class="text-left">Edit</th>
                <th class="text-left">First Name</th>
                <th class="text-left">Last Name</th>
                <th class="text-left">Date of Birth</th>
                <th class="text-left">Department Name</th>
                <th class="text-left">Status</th>
                <th class="text-left">Employee Number</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            GetFilteredData();
        });

        $('#employeeStatusFilter').change(function () {
            GetFilteredData();
        });

        $('#departmentFilter').change(function () {
            GetFilteredData();
        });

        function GetFilteredData() {
            $.ajax({
                url: '@Url.Action("GetFilteredData", "EmployeeData")',
                type: 'POST',
                data: {
                    employeeStatusId: $("#employeeStatusFilter option:selected").val(),
                    departmentId: $("#departmentFilter option:selected").val()
                },
                dataType: "json",
                success: function (response) {
                    BindGridData(response);
                }
            });
        }
        
        function BindGridData(filteredData) {
            $('#tblEmployeeData').DataTable().clear().destroy();
            $('#tblEmployeeData').DataTable({
                responsive: true,
                bLengthChange: true,
                lengthMenu: [[25, 50, 75, 100, -1], [25, 50, 75, 100, "All"]],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: filteredData,
                columns: [
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            return '<a href="@Url.Action("Edit", "EmployeeData")/' + data + '">Edit</a>';
                        }
                    },
                    { data: 'firstName' },
                    { data: 'lastName' },
                    {
                        data: 'dateOfBirth',
                        render: function (data, type, row) {
                            var date = new Date(data);
                            var day = ("0" + date.getDate()).slice(-2);
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var year = date.getFullYear();
                            return day + "/" + month + "/" + year;
                        }
                    },
                    { data: 'department.name' },
                    { data: 'employeeStatus.name' },
                    { data: 'employeeNumber' }
                ]
            });
        }

    </script>
}